
/*
blue  = #7588FF
red   = #F14165
dark1 = #1e2026
dark2 = #2d313d
pink  = #FFC7FF
*/

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#1e2026;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  /*border: 4px #7588FF solid;*/
}

.container-inline{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.link{
  text-decoration:none;
  color:#7588FF;
}

.link:hover{
  text-decoration:underline;
  color:#FFC7FF;
}

.dark{
  padding:20px;
  background:#2d313d;
  color:#ffffff;

  margin-top:10px;
  margin-bottom:10px;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:30px;
  background:#F14165;
  border:none;
  padding-left:20px;
  padding-right:20px;
  color:#ffffff;
}

/* header */
header{
  background:#2d313d;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#F14165 4px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
}

header a:hover{
  color:#7588FF;
  border-bottom:#F14165 4px solid;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header #icons{
  float:left;
  padding-left: 54px;
}

header nav{
  float:left;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#F14165;
  font-weight:bold;
}

header .nonlight{
  color:#f6faff;
}

/* Showcase */
#showcase{
  min-height:594px;
  background:url('../img/showcase.png') no-repeat 0;
  background-position:center;
  background-position:top;
  width:100%;

  text-align:center;
  color:#272939;
}

#showcase h1{
  width:100%;
  margin-top:100px;
  margin-right:10%;
  margin-left:10%;
  margin-bottom:10px;

  font-size:540%;
  font-style:italic;
}

#clearblue{
  background-color:#1e2026;
}

/* sectionhead */

.sectionhead{
  color:#ffffff;
  background:#2d313d;
  text-align:center;

  display: flex;
  justify-content:space-between;
}

.shtop{
  border-top:#F14165 4px solid;
}

.sectionhead h2{
  width:100%;
  text-align:center;
}

/* Boxes */
#boxes{
}

#boxes .box{
  margin-top:20px;
  float:left;
  text-align:center;
  color:#7588FF;
  width:350px;
  padding:10px;
}

#boxes .box img{
  width:100%;
  border-radius: 6px;
}

#boxes h3{
  border-top: 4px #F14165 dashed;
  padding-top:16px;
}

#boxes .link{
  text-decoration: underline;
  text-decoration-color:#7588FF;
}

#boxes .link:hover{
  color:#F14165;
  text-decoration-color:#F14165;
}

footer{
  padding:1px;
  padding-left:16px;
  margin-top:20px;
  color:#ffffff;
  background-color:#F14165;
  display: flex;
  justify-content:space-between;
}

#right{
  float:right;
  padding-right:16px;
}

/* Social Media */

.fa-intbut {
  padding:9px;
  margin: 6px;
  font-size:10px;
  width:26px;
  text-align:center;
  border-radius:45%;
  color:#ffffff;
}

.fa-twitter{
  background:#55ACEE;
  color:white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-github{
  background: #000000;
  color: white;
}

.fa-discord{
  background:#000000;
  color:#ffffff;
}

.fa-envelope-o{
  background:#D54B3D;
  color:#ffffff;
}

 /* ==================== HOVER ==================== */

.fa-intbut:hover{
  color:#F14165;
  border:#F14165 0px solid;
  background: #ffffff;
}


/* NAVBAR */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* ABOUT */
aside{

}

#main-col{
 color:#ffffff;
}

aside#sidebar{
  float:right;
  color:#ffffff;
  width:30%;
  margin-top:10px;
}

/* Main Col */
article#main-col{
  float:left;
  width:65%;
}


/* Media Queries */

@media(max-width: 826px){
  header nav,
  header nav li,
  header #icons,
  header #branding{
    float:none;
    text-align:center;
    width: 100%;
  }

  header #icons{
    padding:0;
  }

  header nav{
    padding-bottom: 4px;
  }

  #showcase{
    min-height:458px;
    background-position:50% 22%;
  }

  #showcase .container{
    width:100%;
  }

  #showcase h1{
    margin:24px;
    padding:0;
    padding-top:76px;
    font-size:350%;
  }
}
