
/*
blue = #7588FF
red  = #F14165
*/

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#1e2026;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  display: flex;
  justify-content:space-between;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:30px;
  background:#F14165;
  border:none;
  padding-left:20px;
  padding-right:20px;
  color:#ffffff;
}

/* header */
header{
  background:#2d313d;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#F14165 4px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
}

header a:hover{
  color:#7588FF;
  border-bottom:#F14165 4px solid;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header #icons{
  float:left;
  padding-left: 54px;
}

header nav{
  float:left;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#F14165;
  font-weight:bold;
}

header .nonlight{
  color:#f6faff;
}

/* Showcase */
#showcase{
  min-height:584px;
  background:url('../img/showcase.png') no-repeat 0;
  background-position:center;
  background-position:top;

  text-align:center;
  color:#272939;
}

#showcase h1{
  width:100%;
  margin-top:100px;
  margin-right:10%;
  margin-left:10%;
  margin-bottom:10px;

  font-size:97px;
  font-style:italic;
}

#clearblue{
  background-color:#1e2026;
}

/* Newsletter */

#newsletter{
  color:#ffffff;
  background:#2d313d;
  text-align:center;
  border-top:#F14165 4px solid;
  display: flex;
  justify-content:space-between;
}

#newsletter h2{
  width:100%;
  text-align:center;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align:center;
  color:#7588FF;
  width:32%;
  padding:10px;
}

#boxes .box img{
  width:400px;
  border-radius: 6px;
}

footer{
  padding:1px;
  padding-left:16px;
  margin-top:20px;
  color:#ffffff;
  background-color:#F14165;
  display: flex;
  justify-content:space-between;
}

#right{
  float:right;
  padding-right:16px;
}

/* Social Media */

.fa {
  padding:9px;
  margin: 6px;
  font-size:10px;
  width:26px;
  text-align:center;
  border-radius:45%;
}

.fa-twitter{
  background:#55ACEE;
  color:white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-github{
  background: #000000;
  color: white;
}

.fa-discord{
  background:#000000;
  color:#ffffff;
}

.fa-envelope-o{
  background:#D54B3D;
  color:#ffffff;
}

.fa:hover{ /* ==================== HOVER ==================== */
  color:#F14165;
  border-bottom:#F14165 0px solid;
  background: #ffffff;
}
