
/*
blue  = #7588FF
red   = #F14165
dark1 = #1e2026
dark2 = #2d313d
pink  = #FFC7FF
*/

html{
  height:100%;
  margin: 0;
}

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#1e2026;
  height:100%;
}

#wrapper{
  min-height: 100%;
  margin-bottom: -54px;
}

/* Global */

::selection {
  background: #9a9bcf;
}
::-moz-selection {
  background: #9a9bcf;
}

.blue{
  color:#7588FF;
}

.container{
  width:80%;
  margin:auto;
  overflow:visible;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  /*border: 4px #7588FF solid;*/
}

.container-inline{
  width:100%;
  margin:auto;
  overflow:hidden;
}

.dropdown{
  position:relative;
  display:inline-block;
}

.dropdown-content{
  text-align:center;
  display:none;
  position:absolute;
  background-color:#1e2026;
  width:186px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.22);
  padding:12px 0px;
  z-index:1;
  left:calc(-186px/2 + 50%);

  border-top: 3px #7588FF solid;
  border-bottom: 3px #7588FF solid;
  line-height: 22px;
}

.dropdown:hover .dropdown-content{
  display:block;
}

.link{
  text-decoration:none;
  color:#7588FF;
  cursor:pointer;
}

.link:hover{
  text-decoration:underline;
  color:#FFC7FF;
  transition: all 0.3s ease;
}

.dark{
  padding:20px;
  background:#2d313d;
  color:#ffffff;

  margin-top:10px;
  margin-bottom:10px;
}

#about-sidebar{
  float:right;
  color:#ffffff;
  margin:0px;
  padding-right:10%;
  padding-top:40px;
  width:20%;
}

.about-img{
  padding:16px;
  width:100%;

  border:#7588FF 4px dashed;
  border-radius: 28px;
}

.about-img img{
  border-radius: 16px;
  width:100%;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:30px;
  background:#F14165;
  border:none;
  padding-left:20px;
  padding-right:20px;
  color:#ffffff;
}

.ribbon{
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  text-align: center;
  padding-top: 60px;
  position:absolute;
  font-size:11px;
  top:-42px;
  left:-62px;
  width:120px;
  background: #1e2026;
}

/* header */
header{
  background:#2d313d;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#F14165 4px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
  transition: all 0.3s ease;
}

header a:hover{
  color:#7588FF;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header #icons{
  float:left;
  padding-left: 110px;
}

header nav{
  float:left;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#F14165;
  font-weight:bold;
}

header .nonlight{
  color:#f6faff;
}

/* Showcase */
#showcase{
  min-height:594px;
  background:url('../img/showcase.png') no-repeat 0;
  background-position:center;
  background-position:top;
  width:100%;

  text-align:center;
  color:#272939;
}

#showcase h1{
  width:100%;
  margin-top:100px;
  margin-right:10%;
  margin-left:10%;
  margin-bottom:10px;

  font-size:540%;
  font-style:italic;
}

#clearblue{
  background-color:#1e2026;
}

/* sectionhead */

.sectionhead{
  color:#ffffff;
  background:#2d313d;
  text-align:center;

  display: flex;
  justify-content:space-between;
}

.shtop{
  border-top:#F14165 4px solid;
}

.sectionhead h2{
  width:100%;
  text-align:center;
}

/* Boxes */
#boxes{
  padding-bottom:20px;
}

#boxes .box{
  margin-top:20px;
  float:left;
  text-align:center;
  color:#7588FF;
  width:350px;
  padding:10px;
}

#boxes .box img{
  width:100%;
  border-radius: 6px;
  transition: all 0.7s ease;
}

#boxes .box img:hover{
  transform: rotate(-360deg);
  border-radius:50%;
}

#boxes h3{
  border-top: 4px #F14165 dashed;
  padding-top:16px;
}

#boxes .link{
  text-decoration: underline;
  text-decoration-color:#7588FF;
}

#boxes .link:hover{
  color:#F14165;
  text-decoration-color:#F14165;
}

#right{
  float:right;
  padding-right:16px;
}

/* Social Media */

.fa-intbut {
  padding:9px;
  margin: 6px;
  font-size:10px;
  width:26px;
  text-align:center;
  border-radius:45%;
  color:#ffffff;
}

.fa-twitter{
  background:#55ACEE;
  color:white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-github{
  background:#000000;
  color: white;
}

.fa-discord{
  background:#000000;
  color:#ffffff;
}

.fa-envelope-o{
  background:#D54B3D;
  color:#ffffff;
}

 /* ==================== HOVER ==================== */

.fa-intbut:hover{
  color:#F14165;
  border:#F14165 0px solid;
  background: #ffffff;
  padding:5px;
  border: 4px #F14165 dashed;
}


/* NAVBAR */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* ABOUT */
aside{

}

.page-title{
  color:#7588FF;
  text-align: center;
  font-size:30px;
}

#main{
  padding-top:20px;
}

#main-col{
  padding-left:10%;
  /* padding-right:1749389%; */
  color:#ffffff;
  font-size:15px;
}

aside#sidebar{
  float:right;
  color:#ffffff;
  margin:0px;
  padding-right:10%;
}

/* Main Col */
article#main-col{
  float:left;
  width:50%;
}


/* Media Queries */

@media(max-width: 826px){
  header nav,
  header nav li,
  header #icons,
  header #branding{
    float:none;
    text-align:center;
    width: 100%;
  }

  header #icons{
    padding:0;
  }

  header nav{
    padding-bottom: 4px;
  }

  #showcase{
    min-height:458px;
    background-position:50% 22%;
  }

  #showcase .container{
    width:100%;
  }

  #showcase h1{
    margin:24px;
    padding:0;
    padding-top:76px;
    font-size:350%;
  }
}

footer{
  padding:1px;
  padding-left:16px;
  padding-right:16px;
  height:52px;
  color:#ffffff;
  background-color:#F14165;
  display: flex;
  justify-content:space-between;
}

.pointy:hover{
  cursor:default;
}

/*
blue  = #7588FF
red   = #F14165
dark1 = #1e2026
dark2 = #2d313d
pink  = #FFC7FF
*/
