
html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body{
    --black:#1E2026;
    --bright:#2D313D;
    --bg: #282a36;
    --text: #69719c;
    --olive: #578270;
    --pink: #ff79c6;
    --select: #FFC7FF;

    background-color:var(--bg);
    color:var(--text);

    font-family: 'Roboto', sans-serif;
    font-size:12pt;

    overflow:hidden;
}

.scrollbar{
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:1rem;
}

.scrollbar .relative{
    height:100%;
    position:relative;
    display:flex;
    flex-direction: column;
}

.scrollbar .button{
    flex-shrink:0;
    width:100%;
    height:1rem;
    color:var(--bg);
    text-align:center;
}

.scrollbar .up{
    transform:rotate(180deg);
}

.scrollbar .button svg{
    width:.6rem;
}

.scrollbar .slider{
    height:100%;
    position:relative;
}

.scrollbar .slider .tracker{
    position:absolute;
    width:.6rem;
    border-radius:50%/.3rem;
    height:3rem;
    background-color:var(--bright);
}

.scrollbar .slider .tracker:hover{
    background-color:var(--text);
}

.scrollbar .slider .tracker.drag{
    background-color:var(--pink);
}

.selectPrevention{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#info{
    display:flex;
        padding: 1.8rem 9rem;
    background-image: url('./bg.png');
    background-size: 64px;
    min-height:15rem;
    justify-content: space-between;
}

#info .content{
    width:46%;
    margin:auto;
}

#info .content .title{
    font-size:28pt;
    font-weight:bold;
    font-family: 'Merriweather', serif;
    color:var(--pink);
}

#info .content .description{
    padding-top:1rem;
    color:var(--text);
}

#info .illustration{
    width:46%;
}

#info .illustration img{
    width:100%;
    box-shadow: 0 0 9px rgba(0,0,0,.8);
}

#display{
    padding-top:4rem;
    box-shadow: 0 0 18px rgba(0,0,0,.7);
    min-height:100%;
    display:flex;
    flex-direction:row;
}

#header{
    padding-top:4rem;
    width:20rem;
    margin:0;
 	flex-shrink: 0;
    position:absolute;
}

#header ul{
    max-width:16rem;
    padding-left:3rem;
}

#header.inline{
    position:static;
}

#header li{
    margin-bottom:.7rem;
    list-style: none;
    transition: .6s all;
}

#header li:hover{
    transition: .2s all;
    color:var(--select);
    cursor:pointer;
}

#header li:hover::before{
    transition: .2s all;
    border-color:var(--select);
    background-color:var(--select);
    cursor:pointer;
}

#header li::before{
    position: absolute;
    content:"";
    width:6pt;
    height:6pt;
    border-radius:50%;
    border: 2pt solid var(--bg);
    background-color:var(--text);
    transform:translateX(-18pt) translateY(2.5pt);
    transition: .1s all;
}

#header .current{
    color:var(--pink);
}

#header .current::before{
    transition: .6s all;
    border-color:var(--pink);
    background-color:transparent;
}

#header .fixed{
    top:4rem;
    position: fixed;
}

#pagecontent{
    width:48rem;
    margin:auto;
    padding-bottom:16rem;
}

#pagecontent.left{
    margin-left:0;
}

.headline{
    transition: .2s color;
}

div.headline{
    font-size:24pt;
}

.headline.current{
    color:var(--pink);
}
