
html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
         url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
         url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
         url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
         url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

body{
    --black:#1E2026;
    --bright:#2D313D;
    --bg: #282a36;
    --text: #69719c;
    --textfaded: #414a6a;
    --olive: #578270;
    --pink: #ff79c6;
    --select: #FFC7FF;

    background-color:var(--bg);
    color:var(--text);

    font-family: 'Roboto', sans-serif;
    font-size:12pt;

    overflow:hidden;
}

a{
    color:var(--olive);
    text-decoration:none;
}

a:hover{
    color:var(--pink);
}

.scrollbar{
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:1rem;
}

.scrollbar .relative{
    height:100%;
    position:relative;
    display:flex;
    flex-direction: column;
}

.scrollbar .button{
    flex-shrink:0;
    width:100%;
    height:1rem;
    color:var(--bg);
    text-align:center;
}

.scrollbar .up{
    transform:rotate(180deg);
}

.scrollbar .button svg{
    width:.6rem;
}

.scrollbar .slider{
    height:100%;
    position:relative;
}

.scrollbar .slider .tracker{
    position:absolute;
    width:.6rem;
    border-radius:50%/.3rem;
    height:3rem;
    background-color:var(--bright);
    transition: .5s opacity;
}

.scrollbar .slider .tracker:hover{
    background-color:var(--text);
}

.scrollbar .slider .tracker.fadeout{
    opacity:0;
}

.scrollbar .slider .tracker.drag{
    background-color:var(--pink);
}

.selectPrevention{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#HCB_comment_box{
    padding: 1rem 12rem;
}

#comments_list{
    position:relative;
}

#comments_list .gravatar{
    position:absolute;
    left:0;
    transform:translateX(-120%) translateY(-50%);
    border-radius:50%;
    border: 7px solid var(--bright);
}

#comments_list .comment{
    margin-bottom:1.6rem;
}

#comments_list .comment .del{
    position:absolute;
    display:block;
    background-color: var(--bg);
    width:100%;
}

#comments_list .comment .del:hover{
    background-color:var(--text);
    cursor:pointer;
}

#comments_list .comment .hcb-reply,
#comments_list .comment .hcb-like,
#comments_list .comment .hcb-flag{
    visibility: hidden;
}

#comments_list .comment .hcb-comment-tb{
    padding:9px 17px;
    padding-top:6px;
    margin:0;
}

#comments_list .comment .hcb-comment-tb a::before{
    visibility:visible;
    font-family: FontAwesome;
    position:absolute;
}

#comments_list .comment .hcb-flag::before{
    content:"\f024";
}
#comments_list .comment .hcb-like::before{
    content:"\f164";
}
#comments_list .comment .hcb-reply::before{
    content:"\f112";
}

#comments_list .date{
    position:absolute;
    font-size:10pt;
    display:block;
    right:0;
    color:var(--textfaded);
}

#comments_list .author{
    font-size:11pt;
    display:block;
    background-color:var(--bg);
    padding-bottom:.3rem;
}
#comments_list .hcb-mod .author-name{
    color:var(--pink)!important;
}

#comments_list blockquote{
    margin: 1rem;
    margin-bottom:.4rem;
}

#comments_list .comment{
    background-color:var(--bright);

}


#hcb_form{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    padding-bottom:1.6rem;
}

.hcb-wrapper-half{
    width:calc(50% - 13px);
}

#hcb_form_name,
#hcb_form_email{
    width:100%;
}

#hcb_form_email{
    margin-left:16px;
}

#hcb_form input{
    padding:2px 6px;
    background-color:var(--bright);
    border:none;
    color:var(--text);
    margin-bottom: 4px;
    font-size:11pt;
}

#hcb_form input:focus,
#hcb_form textarea:focus{
    outline:none;
    box-shadow: 0 1px 8px rgba(0,0,0,.2);
}

#hcb_form textarea{
    background-color:var(--bright);
    border:none;
    color:var(--text);
    padding: 6px 6px;
    font:inherit;
    font-size:11pt;
    width: calc(100% - 10px);
}

#hcb_form ::placeholder{
    color:var(--olive);
}

#hcb_form input::placeholder{
    text-transform: capitalize;
}

#hcb_form #hcb_submit{
    margin-top:2px;
    transition: .2s all;
}

#hcb_form>div:not([class])>*:not(#hcb_submit){
    display:none;
    pointer-events: none;
    color:transparent!important;
    text-shadow:none!important;
    opacity:0!important;
}

#hcb_form #hcb_submit:hover{
    cursor:pointer;
    background-color:var(--pink);
    color:#ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,.14);
}

#hcb_form_name::before{
    content:"Name: ";
}

.hcb-wrapper,
#hcb_form_content{
    width:100%;
}

#info{
    display:flex;
        padding: 1.8rem 9rem;
    background-image: url('./bg.png');
    background-size: 64px;
    min-height:15rem;
    justify-content: space-between;
}

#info .content{
    width:46%;
    margin:auto;
}

#info .content .title{
    font-size:28pt;
    font-weight:bold;
    font-family: 'Merriweather', serif;
    color:var(--pink);
}

#info .content .description{
    padding-top:1rem;
    color:var(--text);
}

#info .illustration{
    width:46%;
}

#info .illustration img{
    width:100%;
    box-shadow: 0 0 9px rgba(0,0,0,.8);
}

#display{
    padding-top:4rem;
    min-height:100%;
    display:flex;
    flex-direction:row;
}

.displaywrapper{
    box-shadow: 0 0 18px rgba(0,0,0,.7);
}

#header{
    padding-top:4rem;
    width:20rem;
    margin:0;
 	flex-shrink: 0;
    position:absolute;
}

#header ul{
    max-width:16rem;
    padding-left:3rem;
}

#header.inline{
    position:static;
}

#header li{
    margin-bottom:.7rem;
    list-style: none;
    transition: .6s all;
}

#header li:hover{
    transition: .2s all;
    color:var(--select);
    cursor:pointer;
}

#header li:hover::before{
    transition: .2s all;
    border-color:var(--select);
    background-color:var(--select);
    cursor:pointer;
}

#header li::before{
    position: absolute;
    content:"";
    width:6pt;
    height:6pt;
    border-radius:50%;
    border: 2pt solid var(--bg);
    background-color:var(--text);
    transform:translateX(-23pt) translateY(2.5pt);
    transition: .1s all;
}

#header .current{
    color:var(--pink);
}

#header .current::before{
    transition: .6s all;
    border-color:var(--pink);
    background-color:transparent;
}

#header .fixed{
    top:4rem;
    position: fixed;
}

#pagecontent{
    width:48rem;
    margin:auto;
    padding-bottom:4rem;
}

#pagecontent.left{
    margin-left:0;
}

.headline{
    transition: .2s color;
}

div.headline{
    font-size:24pt;
}

.headline.current{
    color:var(--pink);
}
