

/* Menu toggle button */

.menuButtonContainer {
margin-top: 3%;
align-content: center;
}

.menuToggle {
  color: #FFFFFF;
  float: left;
  margin: 0 !important;
}

/* Actual Menu */
.menuContainer {
  height: 1000px; /* optimal <3 */
  /*background-color: #151515;*/
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: 50% 20%;
  display: none;
  font-size: 200%;
}

#mobileMenuButton {
  margin-top: 25%;
}

.menuButtons {
  color: #FFF !important;
}
