@import 'global';

.article-list {
    min-height: 63vh;

    ul {
        padding: 0 2rem;
        list-style-type: none;

        @media(max-width: 1000px) {
            padding: 0;
        }

        li {
            font-family: $josefin;
            border: 2px solid $c_dark;
            margin: .5rem 0;
            border-radius: .3rem;
            display: flex;
            flex-direction: row;
            transition: .2s all;
            position: relative;

            &:hover {
                border-color: $c_green;
                cursor: pointer;
                transform: translateX(2%);
                box-shadow: 0 1px 6px rgba(0, 0, 0, .34);
            }

            .text {
                padding: .5rem;

                .summary {
                    color: $c_txt;
                }
            }

            .title {
                font-size: 1.8rem;
                margin-top: .1rem;
                margin-bottom: .5rem;

                span {
                    border-bottom: 2px solid $c_dark;
                    padding-right: 1rem;
                }
            }

            .tags {
                margin-top: .4rem;

                span {
                    color: $c_ltgray;
                    margin-right: .5rem;

                    &::before {
                        content: '#'
                    }
                }
            }

            .timestamp {
                position: absolute;
                $pad: .5rem;
                top: $pad;
                right: $pad;
                color: $c_ltgray;
            }

            .media {
                flex-shrink: 0;
                width: 6rem;
                border-right: 2px solid $c_dark;
                background-color: $c_dark;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-top-left-radius: .16rem;
                border-bottom-left-radius: .16rem;
            }

            img {
                max-width: 100%;
                height: auto;
                width: auto;
                display: block;
                border-top-left-radius: .16rem;
                border-bottom-left-radius: .16rem;
            }
        }
    }
}
