@import 'global';

.ascii-table {
    table-layout: fixed;
    width: 100%;
    font-size: 1rem;
    $ldark: lighten($c_dark, 3%);
    background-color: $ldark;
    border-radius: .4rem;
    border-collapse: collapse;

    tr {
        &:nth-child(1) {
            border-radius: .4rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
            th {
                padding: .4rem 0;
            }
        }

        td:nth-child(3n + 1) {
            color: $c_green;
        }

        td:nth-child(3n + 2) {
            color: $c_pink;
        }

        td:nth-child(3n) {

            & + td {
                border-left: 2px solid $c_gray;
            }
        }

        text-align: center;

        &:nth-child(2n+2) {
            background-color: $c_dark;
        }
    }
}
