@import 'global';

.autotile-demo {
    position: relative;

    .controls {
        position: absolute;
        right: -2.45rem;
        width: 2.1rem;
        top: 0;
        border: 2px solid $c_dark;
        border-bottom-right-radius: .4rem;
        border-top-right-radius: .4rem;
        display: flex;
        flex-direction: column;
        padding: .5rem 0rem;

        .btn {
            margin: 0 .4rem;
            width: 1.2rem !important;
            color: $c_gold;
        }
    }
}

.autotile {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;

   &.grid-lines {
       border-collapse: separate;
   }

    &.grass {
        background-color: rgba(#7a4a36, .5);
        border: 2px solid #7a4a36;
    }

    td {
        @extend .pixelart;
        // background: url('32tlstrp.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }
}
