@import 'global';

.autotile {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;

    &.grass {
        background-color: rgba(#7a4a36, .5);
        border: 2px solid #7a4a36;
    }

    td {
        @extend .pixelart;
        background: url('32tlstrp.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
    }
}
