@import 'global';

.autotile-demo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .controls {
        margin-right: -2.45rem;
        width: 2.1rem;
        height: calc(100% - 4px);
        top: 0;
        border: 2px solid $c_dark;
        border-bottom-right-radius: .4rem;
        border-top-right-radius: .4rem;
        display: flex;
        flex-direction: column;
        padding: .5rem 0rem;

        .btn {
            margin: 0 .5rem;
            width: 1rem !important;
            color: $c_gold;
            cursor: pointer;
            transition: .2s color;

            &:hover {
                color: $c_green;
            }
        }
    }
}

.autotile {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.editable {
        cursor: crosshair;
    }
    
    &.grid-lines {
        border-collapse: separate;
    }

    &.grass {
        background-color: rgba(#7a4a36, .5);
        border: 2px solid #7a4a36;
    }

    td {
        @extend .pixelart;
        // background: url('32tlstrp.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
        position: relative;
        max-width: 1rem;

        &::after {
            content: '';
            position: absolute;
            @include absolute-fill(-1px);
            border: 3px solid $c_green;
            z-index: 5;
            opacity: 0;
            transition: .04s opacity, .025s border;
            border-radius: .4rem;
        }
    }

    &.editable td:hover::after {
        opacity: 1;
        border-color: $c_blue;
    }

    &.erasing td::after {
        border-color: $c_red;
    }

    &.erasing td:hover::after {
        border-color: $c_orange;
    }
}
