@import 'global';

footer {
    $col: lighten($c_dark, 3%);
    padding: 1rem;
    background-color: $col;
    box-shadow: 0 -2px $c_gray,
                0 -4px $col,
                0  2px $c_gray,
                0  4px $col;

    color: darken($c_txt, 12%);
    text-align: center;
    margin-top: 2rem;

    .content {
        max-width: 42rem;
        margin: 0 auto;
    }

    .tony {
        margin-top: .3rem;
    }
}
