@import 'global';

.grasstilestripimage {
    position: relative;

    img {
        @extend .pixelart;
        width: 100%;
        box-shadow: none;
        background-color: #513a36;
        margin-top: .5rem;
    }

    .number {
        position: relative;

        > span {
            display: inline-block;
            $fafs: 100%;
            width: $fafs / 16;
            text-align: center;
        }

        &.binary {
            font-size: .86rem;
            color: #f2f2f2;

            span::before {
                content: '0b';
                color: #777891;
            }
        }
    }
}
