@import 'global';

$border: 0.24vw;

header {
    padding: .4rem 1rem;
    margin: 4vh 4%;
    vertical-align: middle;
    border-top: $border solid $c_dark;
    position: relative;
    margin-bottom: 5rem;
    font-weight: 300;

    .tony {
        float: right;
        font-size: 2.44vw;
        color: $c_green;
        font: $josefin;
        position: relative;

        img {
            height: 2.4rem;
            position: absolute;
            bottom: -1px;
            left: -3.2rem;
            border: 3px solid $c_dark;
            border-radius: 50%;
        }
    }

    .ribbons {
        top: $border * .22;
    }

    @media(max-width:1000px) {
        $border: 3px;
        border-top: $border solid $c_dark;

        .ribbons {
            top: $border * .22;
        }

        .tony {
            font-size: 2.2rem;
        }
    }

    @media(max-width:640px) {
        $border: 3px;
        border-top: none;
        border-bottom: $border solid $c_dark;
        padding-top: 2.5rem;
        margin-top: 1.4rem;

        .ribbons {
            top: calc(#{$border * 1} + #{2.5rem + .4rem});
            margin-left: 0;
            left: 0;
            right: 0;
            justify-content: center;
        }

        .tony {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2rem;
        }
    }
}
