@import 'global';

.kanji-page {
    display: flex;
    justify-content: center;
    padding-top: 3.8rem;
    padding-bottom: 2.7rem;
}

.kanji-canvas {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
    background-color: $c_dark;
}

.results {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
