@import 'global';
@import 'fonts/japanese_radicals';

@keyframes width-from-left {
    0%   { width: 0;    }
    100% { width: 100%; }
}

#kanjipage {
    display: flex;
    justify-content: space-between;

    min-height: calc(100vh - 134px);

    > .right {
        width: 40%;
        margin-top: 5rem;
    }

    > .left {
        width: 60%;
        margin-top: 5rem;
        padding-left: 4rem;
        padding-right: 2rem;
    }
}

.selected-rad {
    margin: 0 auto;

    .foc {
        display: inline-block;
        width: 10rem;
        position: relative;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        .chr {
            font-size: 5rem;
            height: 6.4rem;
            text-align: center;
            padding: 1rem;
            padding-top: 0;
            border: 2px solid $c_dark;
            margin: 0 1rem;
            border-radius: .2rem;

            a {
                color: $c_green
            }
        }

        .meaning {
            position: absolute;
            top: 0;
            left: 100%;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                white-space: nowrap;

                li:not(:last-child)::after {
                    content: ',';
                    color: lighten($c_ltgray, 14%);
                    margin-left: .02rem;
                }
            }
        }

        .reading {
            font-size: 1.2rem;
            text-align: center;
            padding-top: .6rem;
        }

        .wikipedia {
            text-align: center;
            margin-top: .5rem;
            padding-top: .6rem;
            border-top: 2px solid $c_dark;
        }

        .chrs {
            font-size: 1.2rem;
            position: absolute;
            right: 100%;
            top: 0;
        }

        .num {
            position: absolute;
            top: .2rem;
            left: 1.4rem;
            font-size: 1rem;
            color: $c_ltgray;
        }
    }
}

.radical-table {
    div {
        border: 2px solid $c_ldark;
        display: inline-block;
        width: 42px;
        height: 2.7rem;
        font-size: 1.3rem;
        text-align: center;
        position: relative;
        transition: .1s all;
        margin: -2px -2px 0 0;

        &.type-header-stroke {
            background-color: rgba($c_dark, .36);
            color: lighten($c_ltgray, 3%);

            &:hover {
                cursor: crosshair;
                color: $c_orange;
                border-bottom-color: $c_orange;
            }

            &.selected {
                color: $c_orange;

                &::after {
                    border-color: $c_blue;
                }
            }
        }

        .num {
            position: absolute;
            top: 1px;
            left: 1px;
            text-align: left;
            font-size: .6rem;
            color: rgba($c_ltgray, .6);
            border: none;
            z-index: 20;
            width: auto;
            height: auto;
        }

        .chr {
            border: none;
            padding-top: .7rem;
            padding-right: 2px;
        }

        &.selected::after {
            border-color: $c_blue;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 3;
            @include absolute-fill(0);
            border: 2.4px solid transparent;
            border-radius: 2px;
            transition: .1s all;
        }

        &.type-radical {
            &.selected .num {
                top:  -.2rem;
                left: -2px;
                padding-bottom: 1px;
                padding-right: 3px;
                background-color: $c_gray;
                text-align: left;
                color: $c_blue;
                font-size: .7rem;
            }

            &:hover {
                color: $c_green;

                &::after {
                    cursor: pointer;
                    border-color: $c_green;
                    margin: -2px;
                }

                .num {
                    top:  -.4rem;
                    left: -4px;
                    padding-bottom: 1px;
                    padding-right: 3px;
                    background-color: $c_gray;
                    text-align: left;
                    color: $c_green;
                    font-size: .8rem;
                }
            }
        }

        &.hl-stroke {
            background-color: rgba($c_dark, .3);
            border-bottom-color: $c_orange;
            color: $c_gold;
        }
    }
}
