@import 'global';

.minesweeper {
    .game-grid {
        table-layout: fixed;
        border-collapse: collapse;
        margin: 0 auto;
        margin-top: 2rem;

        td {
            $csize: 1.5rem;
            width: $csize;
            height: $csize;
            background-color: lighten($c_dark, 3%);
            border: 4px solid $c_gray;
            border-radius: 4px;
            position: relative;
            text-align: center;

            $cols: (
                $c_gold,
                $c_orange,
                $c_red,
                $c_purple,
                $c_blue,
                $c_green
            );

            @for $i from 1 through 5 {
                &.c-#{$i} {
                    color: nth($cols, $i);
                }
            }

            &.hidden {
                background-color: lighten($c_gray, 10%);
                cursor: pointer;
            }

            &.flag-wrong {
                color: $c_orange;
            }

            &::after {
                content: '';
                position: absolute;
                @include absolute-fill(-4px);
                border: 3px solid transparent;
                transition: .08s border-color;
                border-radius: 6px;
                z-index: 4;
                opacity: .8;
            }

            &.hidden:hover::after {
                border-color: $c_txt;
                z-index: 6;
            }
        }
    }
}
