
@font-face {
    font-family: 'Japanese Radicals';
    font-style: normal;
    font-weight: 400;
    src: local('Japanese Radicals'), local('JapaneseRadicals'), url('./fonts/woff/japanese_radicals/JapaneseRadicals-Regular.woff2') format('woff2');
}
