<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport"    content="width=device-width">
        <meta name="theme-color" content="#F14165">
        <meta name="description" content="Programming from NUL to DEL">
        <meta name="keywords"    content="gamedesign, programming, gml, gml programming, webdev, webdesign">
        <meta name="author"      content="Tony Strømsnæs">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div id="info">
            <div class="content">
                <div class="title"></div>
                <div class="description"></div>
            </div>
            <div class="illustration"></div>
        </div>
        <div id="display">
            <div id="header"></div>
            <div id="pagecontent"></div>
        </div>
        <div id="footer">
        </div>
        <script src="../page.js"></script>
    </body>
</html>
