
html{
    --bg: #1E2026;
    --bglt: #21252c;
    --gray: #2D313D;
    --main: #039D5B;
    --pink: #FFC7FF;
    --text: #8a6ee5;
    font: 1rem/1.5 Arial, Helvetica, sans-serif;
    color:var(--text);
    overflow-x:hidden;
}

body{
    background-color:var(--bg);
    width:100%;
    margin:0;
    overflow-x:hidden;
}

a{
    color:var(--main);
    text-decoration: none;
}

a:hover{
    color:var(--pink);
}

#background{
    position:absolute;
    z-index:-10;
    min-width:100%;
    min-height:80%;
    overflow:hidden;
}

#showcase{
    border-top: 2px solid var(--main);
    overflow-y: hidden;
}

.bg-code{
    padding-top:.64rem;
    margin:0;
    position:absolute;
    overflow: hidden;
    height:120%;
    color:var(--gray);
    word-wrap:break-word;
    word-break:break-all;
    font-family: 'Source Code Pro', monospace;
    z-index: -10;
    background-color:var(--bg);
    filter: blur(1px);
}

.front{
    z-index: 10;
}

.section-title{
    text-align:center;
    font-size:2.6rem;
    margin-bottom:0;
    margin-top:2rem;
}

#audio{
    background-color: var(--gray);
}

#about{
    margin-top:1rem;
    margin-bottom:7rem;
    margin-left:13%;
    margin-right:13%;
    font-size:1.1rem;
    padding:.7rem;
    padding-right:3%;
    padding-left:3%;
    border-left: 4px solid var(--main);
    background-color:var(--bg);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 18px 0px rgba(0,0,0,.54);
}

.audioplayer {
    margin-left:6%;
    margin-right:12%;
    padding-bottom:4rem;
    display:flex;
}
.audioplayer .fade img{
    height:100%;
    width:100%;
}
.audioplayer .fade{
    height:100%;
    flex-shrink:0;
    display:flex;
}
.audioplayer .main{
    display:flex;
    flex-direction:row;
    width:100%;
    background-color: var(--gray);
    margin-left:1rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 3px 18px 1px #000000;
}
.audioplayer .content{
    display:flex;
    flex-direction: column;
    padding:1rem;
    width:100%;
    border-left:3px solid var(--main);
}
.audioplayer .content .aprog{
    min-height:8rem;
    display:flex;
}
.audioplayer .desc{
    margin-bottom:1rem;
    width:100%;
    border-right: 3px dashed var(--bg);
    margin-right:1.3rem;
    padding-right:1.3rem;
}
.audioplayer .tools{
    width:20rem;
    height:100%;
    flex-grow:0;
    display:flex;
    flex-direction: column;
}
.audioplayer .tools .section-header{
    padding-right:.5rem;
    padding-left:.5rem;
    margin:auto;
    z-index:11;
    background-color:var(--gray);
    color:#5b657f;
}
.audioplayer .tools>div{
    padding-top:.5rem;
    border-top: 2px solid #272b35;
    transform:translateY(-.7rem);
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.audioplayer .desc .title {
    margin:0;
    color:var(--main);
}
.audioplayer .desc p {
    margin:0;
}

.audioplayer .play i{
    font-size:4rem;
    color:var(--bg);
    border-radius:50%;
    font-weight: bold;
    background-color: var(--main);
    border: 1.3px solid var(--main);
    transition: .2s all;
    margin:2px;
    box-shadow: 0 3px 18px 1px #000000;
}

.audioplayer .play i:hover{
    margin:0;
    color:var(--gray);
    background-color: var(--text);
    border: 3.3px solid var(--text);
    cursor:pointer;
}

.audioplayer .progress-content{
    display:flex;
    flex-wrap: nowrap;
}

.audioplayer .progressbar{
    margin-left:1rem;
    margin-right:1rem;
    height:.2rem;
    width:100%;
    display:flex;
    padding-top:.65rem;
    padding-bottom:.65rem;
    transition: .2s all;
}

.audioplayer .progressbar:hover{
    padding-top:.5rem;
    padding-bottom:.5rem;
    height:.5rem;
    cursor:pointer;
}

.audioplayer .progressbar .scrubber{
    position: absolute;
    width:0rem;
    height:0rem;
    border-radius:50%;
    transition: width .2s, height .2s;
    background-color:var(--main);
    transform:translateX(-50%) translateY(-28%);
    pointer-events: none;
}
.audioplayer .progressbar .hovertime{
    position: absolute;
    transform:translateX(-30%) translateY(-1.5rem);
    color:transparent;
    transition: .2s all;
}
.audioplayer .progressbar:hover .hovertime{

    color:var(--main);
}
.audioplayer .progressbar .hoverbar{
    background-color: transparent;
    position:absolute;
    height:.2rem;
    transition: height .2s, background-color .2s, color .2s;
    pointer-events: none;
}
.audioplayer .progressbar:hover .hoverbar{
    background-color: rgba(3,157,91,.3); /*purple:rgba(138,110,229,.3);*/
    height:.5rem;
}
.audioplayer .progressbar:hover .scrubber{
    background-color:var(--main);
    width:1rem;
    height:1rem;
}

.audioplayer .progressbar progress{
    -webkit-appearance: none;
    height:100%;
    appearance: none;
    width:100%;
}
.audioplayer .progressbar progress[value],
.audioplayer .progressbar progress[value]::-webkit-progress-bar{
    background-color:var(--bg);
    color:var(--main);
}
.audioplayer .progressbar progress::-webkit-progress-value {
    background-color:var(--main);
}

#episodes{
    padding-top:3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.center{
    padding-top:2rem;
    width:100%;
    text-align:center;
}

#logo{
    max-width:80%;
    display:block;
    margin:auto;
}

#header-buttons{
    display:flex;
    justify-content:space-between;
    background-color:var(--bg);
    box-shadow: 0 2px 24px -1px rgba(0,0,0,.4);
}

#header-buttons .button{
    margin:0;
    padding:10px;
    padding:1.2rem;
    font-size:1.4rem;
    width:25%;
    text-align:center;
    transition:.2s all;
    border-bottom: 2px solid var(--main);
}

#header-buttons .button:hover{
    background-color:var(--gray);
    border-bottom: 2px solid var(--text);
    color:var(--text);
}
