
html, body{
    width:100%;
    padding:0;
    margin:0;
}

body{
    --dblack: #1a1d2a;
    --black: #2a2d3a;
    --bg: #3a3d52;
    --text: #e2f1fd;
    --fadedtxt: #82a1ad;
    --pink: #ef405a;
    --link: #42da92;
    --hover: #429fa2;

    background-color:var(--bg);
    color:var(--text);

    font-size: 1rem;
    font-family: Arial;
}

@keyframes colorspectrum {
    0%   { color: #42da92; }
    25%  { color: #668ff4; }
    50%  { color: #ef405a; }
    75%  { color: #f4ec66; }
    100% { color: #42da92; }
}

a{
    color:var(--link);
    text-decoration: none;
}

a:hover{
    color:var(--hover);
}

header{
    width:100%;
    text-align:center;
    font-size:2rem;
    background-color:var(--black);
    padding-top:3rem;
    background-image: url('./bg.png');
    background-size: 24px;
}

header .title{
    padding-bottom:2rem;
    animation: colorspectrum 10s infinite;
    text-shadow: 0 2px 16px rgba(0,0,0,.4);
}

header .links{
    padding: 0 12%;
    margin:0;
    list-style: none;
    font-size:1.5rem;
    display:flex;
    justify-content: space-around;
    text-transform: capitalize;
}

header .links a{
    padding: .4rem 0;
    width:25%;
}

header .links .current{
    padding: .4rem 0;
    background-color:var(--bg);
    border-top: .2rem solid var(--link);
}

code{
    font-family: 'IBM Plex Mono', monospace;
    background-color:var(--black);
    padding: 0 .4rem;
    border-radius: 1rem;
}

.pagewrapper{
    box-shadow: 0 -6px 9px rgba(0,0,0,.3);
    display:flex;
    justify-content: space-between;
    padding: 2rem 12%;
}

.pagecontent{
    text-align:justify;
}

h1, h2, h3{
    color:var(--fadedtxt);
}

.pagecontent h2{
    color:var(--fadedtxt);
    font-weight:normal;
    margin-top:2rem;
}

.pageinfo{
    flex-shrink:0;
    padding-left: 2rem;
    width:26%;
}
