
// colors

$c_bg: #21252B;
$c_green: #6fcaa0;
$c_lightgreen: #9ee2c3;
$c_gray: #282a36;
$c_gold: #ddc239;
$c_red: #ea277c;
$c_orange: #ef941c;
$c_blue: #4c6aef;
$c_purple: #b333dd;
$c_dark: #171921;
$c_txt: #cbccd6; // darken(#d9dae1, 5%);
$c_ltgray: #56576a;
$c_pink: #f068a3; // lighten($c_red, 14%);
$rainbow: (
    $c_gold,
    $c_orange,
    $c_red,
    $c_purple,
    $c_blue
);

$default_font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$josefin: 'josefin-sans' sans-serif;

// imports

// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import 'fonts/josefin-sans.scss';

// mixins

@mixin background-color-alpha($color, $alpha) {
    background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin absolute-fill($marg) {
    top: $marg;
    left: $marg;
    right: $marg;
    bottom: $marg;
}

// keyframes

@keyframes roll-vertical {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

@keyframes xpand-out {
    0% {
        left: 50%;
        right: 50%;
    }
    100% {
        left: 0;
        right: 0;
    }
}

@keyframes xpand-in {
    100% {
        left: 50%;
        right: 50%;
    }
    0% {
        left: 0;
        right: 0;
    }
}

@keyframes fadein-blur {
    0%   { filter: blur(0px); }
    100% { filter: blur(3px); }
}

@keyframes fadein-bgcolor {
    0%   { background-color: rgba(0, 0, 0,  0); }
    100% { background-color: rgba(0, 0, 0, .5); }
}

@keyframes fadein-drawer-bottom {
    0%   { transform: translateY(100%); opacity: 0; }
    6%   { opacity: 0; }
    7%   { opacity: 1; }
    44%  { transform: translateY(100% + -104.63%); }
    59%  { transform: translateY(100% + -98.36%); }
    73%  { transform: translateY(100% + -100.58%); }
    88%  { transform: translateY(100% + -99.8%); }
    100% { transform: translateY(0%); }
}

@keyframes fadein-drawer-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        z-index: -4;
        height: 0;
    }
    100% { transform: translateY(0); }
}

@keyframes red-border {
    45%  { border-color: $c_red };
    55%  { border-color: $c_red };
}

@keyframes clip-fade-in {
    0%   { clip-path: inset(0px 100% 0px 0px); }
    20%  { clip-path: inset(0px 100% 0px 0px); }
    100% { clip-path: inset(0px   0% 0px 0px); }
}

// global tags
body {
    margin: 0;
    padding: 0;
    font-family: $default_font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $c_gray;
    color: $c_txt;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: $c_gold;

    &.link {
        position: relative;
        transition: color 0.2s;
        white-space: nowrap;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 50%;
            right: 50%;
            border-bottom: 2px solid transparent;
            animation: xpand-in 0.16s ease-in;
            transition: opacity 1s;
            border-color: $c_green;
            opacity: 0;
        }

        &:hover {
            cursor: pointer;

            &::after {
                left: 0;
                right: 0;
                bottom: -2px;
                animation: xpand-out 0.16s;
                opacity: 1;
                transition: opacity .01s;
            }
        }
    }

    &:hover {
        color: $c_green;
    }
}

$border: 0.24vw;

header {
    padding: .4rem 1rem;
    margin: 4vh 4%;
    vertical-align: middle;
    border-top: $border solid $c_dark;
    position: relative;
    margin-bottom: 5rem;
    font-weight: 300;

    .tony {
        float: right;
        font-size: 2.44vw;
        color: $c_green;
        font: $josefin;
    }

    .ribbons {
        top: $border * .22;
    }

    @media(max-width:1000px) {
        $border: 3px;
        border-top: $border solid $c_dark;

        .ribbons {
            top: $border * .22;
        }

        .tony {
            font-size: 2.2rem;
        }
    }

    @media(max-width:640px) {
        $border: 3px;
        border-top: none;
        border-bottom: $border solid $c_dark;
        padding-top: 2.5rem;
        margin-top: 1.4rem;

        .ribbons {
            top: calc(#{$border * 1} + #{2.5rem + .4rem});
            margin-left: 0;
            left: 0;
            right: 0;
            justify-content: center;
        }

        .tony {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2rem;
        }
    }
}

footer {
    $col: lighten($c_dark, 3%);
    padding: 1rem;
    background-color: $col;
    box-shadow: 0 -2px $c_gray,
                0 -4px $col,
                0  2px $c_gray,
                0  4px $col;

    color: darken($c_txt, 12%);
    text-align: center;
    margin-top: 2rem;

    .content {
        max-width: 42rem;
        margin: 0 auto;
    }

    .tony {
        margin-top: .3rem;
    }
}

.copybox {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    color: transparent;
    background: transparent;
    opacity: 0;
    border: none;
}

.codeblock-full.ran {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.codeblock-output {
    background: $c_dark;
    border-bottom-left-radius:  .4rem;
    border-bottom-right-radius: .4rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: .8rem .5rem;
    position: relative;
    animation: fadein-drawer-top .14s;

    .string {
        color: $c_green;
    }
}

.ascii-table {
    table-layout: fixed;
    width: 100%;
    font-size: 1rem;
    $ldark: lighten($c_dark, 3%);
    background-color: $ldark;
    border-radius: .4rem;
    border-collapse: collapse;

    tr {
        &:nth-child(1) {
            border-radius: .4rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
            th {
                padding: .4rem 0;
            }
        }

        td:nth-child(3n + 1) {
            color: $c_green;
        }

        td:nth-child(3n + 2) {
            color: $c_pink;
        }

        td:nth-child(3n) {

            & + td {
                border-left: 2px solid $c_gray;
            }
        }

        text-align: center;

        &:nth-child(2n+2) {
            background-color: $c_dark;
        }
    }
}

.codeblock-full {
    position: relative;

    .codeblock-controls {
        position: absolute;
        top: 0;
        right: 0;
        padding: .4rem .3rem;
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
        border-bottom-left-radius: .4rem;
        border-bottom: 2px solid $c_dark;
        border-left:   2px solid $c_dark;

        >span {
            padding: 0 .4rem;

            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            color: $c_ltgray;
            font-size: 1rem;
            transition: .14s color;

            &:hover {
                color: $c_green;
                cursor: pointer;
            }

            &.copy::before { content: '\f0c5'; }
            &.run::before  { content: '\f04b'; }
        }
    }
}

// global classes

.section-header.hidden {
    opacity: 0;
}

.scroll-thumb {
    background-color: darken($c_gray, 1.2%);
    border-radius: 8px;
}

.blur {
    animation: fadein-blur 1s;
    filter: blur(3px);
}

.focus {
    animation: fadein-bgcolor 1s;
    position: fixed;
    z-index: 86;
    @include absolute-fill(0);
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .video {
        max-width: 80%;
        margin: 0 auto;
        animation: fadein-drawer-bottom 1s;

        video {
            width: 100%;
            box-shadow: 0 1px 8px rgba(0, 0, 0, .6);
        }
    }
}

.wpac-wrapper {
    padding: 0 2rem;
    margin-top: 4rem;
}

#wpac-comment {
    max-width: 60rem;
    margin: 0 auto;

    .wp-copyright {
        display: hidden !important;
        opacity: 0;
    }

    .wp-comments {
        border-top: 1px solid $c_dark !important;
        padding-top: 1rem;
    }

    .wp-login {
        @extend a.link;
        color: $c_gold !important;
        path { fill: $c_gold !important; }

        &:hover {
            color: $c_green !important;
            path { fill: $c_green !important; }
        }
    }

    .wp-hr.wp-clear {
        opacity: 0;
    }

    .wp-comment-count {
        color: $c_ltgray !important;
    }

    .wp-comment-sort {
        color: $c_ltgray !important;
        transition: .2s all;

        &:hover {
            color: $c_green !important;
        }
    }

    .wp-sort path {
        fill: $c_ltgray !important;
    }

    .wp-comment-rate {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }

    .wp-comment-media li a {
        transition: .14s all !important;

        img {
            box-shadow: 0 1px 6px rgba(0, 0, 0, .34) !important;

            @media(max-width: 400px) {
                max-width: 100px !important;
                max-height: 66px !important;
            }
        }

        &:hover {
            transform: scale(1.04);
        }
    }

    .wpac .wp-media-preview {
        border-top: 2px dashed $c_dark !important;

        li span {
            background-color: $c_dark !important;
            color: $c_ltgray !important;
            font-size: 1rem !important;
            top: -5px !important;
            right: -5px !important;
            width: 1.1rem !important;
            height: 1.1rem !important;

            &:hover {
                background-color: $c_gold !important;
            }
        }

        .wp-media-surface {
            background-color: $c_dark !important;
            border-color: $c_dark !important;
            border-radius: 4px !important;

            img {
                border-radius: 3px !important;
            }
        }
    }

    .wp-submit-cnt {
        border: none !important;
        background-color: transparent !important;
        margin-top: .4rem !important;
    }

    .wp-btn, .wp-submit-cnt .wp-submit {
        background-color: $c_dark !important;
        border-radius: 4px !important;
        color: $c_green !important;
        border: 2px solid transparent !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .23) !important;
        transition: .14s all !important;

        &:hover {
            background-color: darken($c_gray, 3%) !important;
            border-color: $c_green !important;
        }
    }

    .wp-social-wrap {
        opacity: 0;
        display: hidden;
    }

    .wp-text-wrap {
        border: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .wp-comment-msg {
        color: $c_txt !important;
    }

    .wp-comment-reply {
        color: $c_ltgray !important;
        font-size: .8rem !important;

        &:hover {
            color: $c_green !important;
        }
    }

    .wp-comment-username {
        color: $c_pink !important;
    }

    .wp-comment-time {
        color: $c_ltgray !important;
    }

    .wp-comment-parent {
        color: $c_pink !important;
    }

    .wp-comment-vote {
        transform: translateY(4px);
    }

    .wp-svg svg,
    .wp-comment-menu > a svg {
        path {
            fill: $c_ltgray !important;
            transition: .14s all;
        }

        &:hover path {
            fill: $c_green !important;
        }
    }

    .wp-textarea-wrap {
        background-color: $c_dark !important;
        border-radius: 4px !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .34) !important;

        textarea {
            background-color: $c_dark !important;
            color: $c_txt !important;
            font-size: 1rem !important;

            &::placeholder {
                color: $c_ltgray !important;
                opacity: .8 !important;
            }
        }
    }

    .wp-dropdown-menu {
        background-color: lighten($c_dark, 3%) !important;
        border-color: transparent !important;

        li a {
            color: $c_txt !important;
            font-size: .9rem !important;

            &:hover {
                background-color: $c_dark !important;
                color: $c_green !important;
            }
        }

        .wp-logout {
            border-top-color: $c_dark !important;
        }
    }

    .wp-c.wp-loggedin .wp-user-menu {
        color: $c_gold !important;
    }

    .wp-c {
        .wp-form {
            margin: 6px 0 !important;
        }

        .wp-nocomments {
            color: $c_ltgray !important;
            text-shadow: none !important;
            font-size: 1.1rem !important;
        }

        .wp-hr {
            border-color: $c_dark !important;
        }
    }
}

.article-list {
    min-height: 63vh;

    ul {
        padding: 0 2rem;
        list-style-type: none;

        li {
            font-family: 'Josefin Sans', sans-serif;
            border: 2px solid $c_dark;
            margin: .5rem 0;
            border-radius: .3rem;
            display: flex;
            flex-direction: row;
            transition: .2s all;
            position: relative;

            &:hover {
                border-color: $c_green;
                cursor: pointer;
                transform: translateX(2%);
                box-shadow: 0 1px 6px rgba(0, 0, 0, .34);
            }

            .text {
                padding: .5rem;

                .summary {
                    color: $c_txt;
                }
            }

            .title {
                font-size: 1.8rem;
                margin-top: .1rem;
                margin-bottom: .5rem;

                span {
                    border-bottom: 2px solid $c_dark;
                    padding-right: 1rem;
                }
            }

            .tags {
                margin-top: .4rem;

                span {
                    color: $c_ltgray;
                    margin-right: .5rem;
                    &::before {
                        content: '#'
                    }
                }
            }

            .timestamp {
                position: absolute;
                $pad: .5rem;
                top: $pad;
                right: $pad;
                color: $c_ltgray;
            }

            .media {
                flex-shrink: 0;
                width: 6rem;
                border-right: 2px solid $c_dark;
                background-color: $c_dark;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-top-left-radius: .16rem;
                border-bottom-left-radius: .16rem;
            }

            img {
                max-width: 100%;
                height: auto;
                width: auto;
                display: block;
                border-top-left-radius: .16rem;
                border-bottom-left-radius: .16rem;
            }
        }
    }
}

#table-of-contents {
    position: fixed;
    top: 0;
    height: 100%;
    $col: darken($c_txt, 40%);
    color: $col;
    pointer-events: none;
    max-width: calc(50% - 30rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width: 82rem) {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    ul {
        list-style-type: none;
        padding-left: .8rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1.6rem;
            background: linear-gradient(90deg, transparent 0%, $c_gray 100%);
        }
    }

    textarea {
        display: hidden;
        visibility: none;
        opacity: 0;
        height: 0;
        width: 0;
    }

    li {
        margin-bottom: .6rem;
        padding-left: 1.4rem;
        margin-left: 1rem;
        pointer-events: all;
        transition: 1s color;
        position: relative;
        transition: .2s all;

        i {
            color: transparent;
            opacity: 0;
            visibility: hidden;
            margin-left: .6rem;
            /*
            transition: .2s all;
            color: transparent;
            cursor: pointer;

            &:hover {
                color: $c_green !important;
            }*/
        }

        span.link {
            @extend a.link;

            &:hover {
                color: $c_green;
            }
        }

        &.current:not(.title) {
            color: $c_green;

            &::before {
                border-color: $c_dark;
                background-color: transparent;
            }
        }

        &:hover {
            i {
                color: $c_ltgray;
            }

            &::before {
                border-color: $c_dark;
            }
        }

        &::before {
            transition: .2s all;
            content: '';
            position: absolute;
            width: .5rem;
            height: .5rem;
            display: inline-block;
            border-radius: 50%;
            background-color: $c_dark;
            border: 3px solid $c_gray;
            transform: translateY(14%);
            left: 0;
            top: .2rem;
        }

        &.title {
            margin-bottom: .3rem;
            padding-bottom: .3rem;
            font-size: 1.1rem;
            font-weight: bold;
            height: 1.6rem;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 1.5rem;
                height: 2px;
                background: lighten($c_dark, 2%);
            }
        }
    }
}

.article-title {
    font-size: 3rem;
    color: $c_green;
    border-bottom: 3px solid $c_green;
    text-align: center;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1.5rem;

    &::after, &::before {
        content: '';
        position: absolute;
        z-index: 3;
        border-right: 3px solid $c_gray;
        border-left: 3px solid $c_gray;
        width: 3px;
        height: 3px;
        bottom: -3px;
    }

    &::after {
        right: 3px;
    }

    &::before {
        left: 3px;
    }
}

.standard-page {
    max-width: 56rem;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
}

.code {
    background-color: lighten($c_dark, 3%) !important;
    border-radius: 6px;
    margin: 0;
    white-space: wrap;
    font-size: 1.1rem;
    tab-size: 4;

    .hljs-keywords {
        color: #C678DD;
    }

    &.block {
        box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
        //padding: .5rem .7rem !important;
        max-height: 32rem;
        position: relative;
        z-index: 2;
        margin: 1rem 0;
    }

    &.inline {
        display: inline !important;
        padding: .2rem .3rem !important;
        font-size: .9rem !important;
    }

    @media(max-width: 400px) {
        font-size: .8rem !important;
    }
}

.rendered-markdown {
    font-size: 1.1rem;
    background-color: $c_gray;

    p {
        line-height: 1.42rem;
    }

    img, .media {
        max-width: 100%;
        border-radius: 4px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .4);
    }

    table {
        table-layout: fixed;
        width: 100%;

        .video {
            width: 100%;
            margin: 0;
        }
    }

    .section-title {
        padding: 0;
        margin-bottom: 1.8rem;
        margin-top: 3rem;
    }

    hr {
        color: $c_dark;
    }

    h1, h2, h3 {
        color: $c_green;
        font-family: 'Josefin Sans', sans-serif;
    }

    em {
        color: $c_pink;
    }

    strong {
        font-weight: bold;
    }

    .dotted-circle {
        display: inline-block;
        border: 3px dotted $c_orange;
        border-radius: 1rem;
        width: 1.4rem;
        height: 1.4rem;
        transform: translateY(25%);
    }

    .video {
        width: 72%;
        margin: 2rem auto;
        transform: scale(0.98);
        transition: 0.14s all;

        video {
            width: 100%;
            box-shadow: 0 1px 11px rgba(0, 0, 0, .31);
            border-radius: 6px;
            opacity: 0.8;
            transition: 0.12s all;
            cursor: zoom-in;
            position: relative;
        }

        em::before {
            content: '';
            display: block;
            bottom: 0;
            height: 3px;
            width: 0;
            background-color: $c_green;
            transition: .24s width;
            margin: 0 auto;
            border-radius: 4px;
        }

        &::after {
            content: 'GIF';
            position: absolute;
            top: 12px;
            right: 14px;
            background-color: rgba(0, 0, 0, .2);
            padding: 1px 5px;
            border-radius: 5px;
            transition: 0.12s all;
        }

        &:hover {
            transform: scale(1);

            &::after {
                opacity: 0;
            }

            video {
                opacity: 1;
            }

            em::before {
                width: 100%;
            }
        }
    }

    @media(max-width: 400px) {
        font-size: .9rem;
        padding: .9rem;

        p {
            margin: .66rem 0;
            line-height: 1.3rem;
        }

        .section-title {
            margin-top: 2rem;
            margin-bottom: .7rem;
        }

        .video {
            margin: 1rem auto;
        }
    }
}

.section-title {
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    text-align: center;
    display: flex;
    color: $c_green;
    font-family: 'Josefin Sans', sans-serif;

    > div {
        width: 50%;
        flex-shrink: 1000;
        //border-top: 3px solid $c_green;
        margin-top: 0.453 * 2.4rem;
        height: 3px;
        background-color: $c_green;
        border-radius: 2px;
    }

    span {
        font-size: 2.4rem;
        flex-shrink: 0;
        padding: 0 1rem;
    }

    @media(max-width: 400px) {
        span {
            font-size: 1.6rem;
            padding: 0 .5rem;
        }

        > div {
            margin-top: 0.57 * 1.5rem;
        }
    }
}

// pages

#theme-dracula {
    background-color: #21222C;
    min-height: 100vh;

    .window {
        padding: 4rem 1rem 1rem;
        display: flex;
        justify-content: center;
    }
}

.window-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    .center {
        margin: 0 auto;
    }
}

#article-login {
    div {
        margin: 1rem;
        text-align: center;
    }

    .input {
        background-color: $c_dark;
        border: 2px solid $c_gray;
        border-radius: 6px;
        padding: .1rem 0;

        i {
            border-left: 2px solid $c_gray;
            padding: .1rem .3rem;
            cursor: pointer;

            &:hover {
                color: $c_green;
            }
        }

        input {
            color: $c_gold;
            background-color: transparent;
            border: none;
            padding-left: .4rem;
            font-size: 1rem;
            font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
            width: 9rem;
        }
    }
}

.page:not(#frontpage) {
    min-height: 100vh;
    width: 100%;
}

$xmarg: 4%;

.ribbons {
    top: $border;
    left: $border;
    margin: 0;
    padding: 0;
    margin-left: 3vw;
    margin-top: -$border;
    $bg: transparent;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0;

    li {
        $br: $c_dark;
        background-color: $bg;
        width: 3.2vw;
        height: 5vw;
        margin: 0 .6rem;
        position: relative;
        border: $border solid $br;
        border-bottom: none;
        border-radius: 0.2rem;
        transition: 0.1s border-color;

        i {
            font-size: 1.6vw;
            width: 100%;
            text-align: center;
            margin-top: 2vw;
        }
        // &.l0 { color: $c_gold; }
        // &.l1 { color: $c_orange; }
        // &.l2 { color: $c_red; }
        @for $i from 0 through 4 {
            &.l#{$i} {
                $c: nth($rainbow, $i + 1);
                color: $c;

                &:hover {
                    border-color: $c;

                    &::after {
                        border-color: $c;
                    }
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            background-color: $bg;
            transition: 0.1s border-color;
            width: 100% * 0.709;
            height: 3.2vw * 0.709;
            bottom: -1.26vw;
            left: 0.37vw;
            transform: rotate(-45deg);
            border-bottom: $border solid $br;
            border-left: $border solid $br;
            box-shadow: -2px 2px 2px rgba(0,0,0,.18);
            border-radius: 0.1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    @media(max-width:1000px) {
        $border: 3px;
        top: $border;
        left: $border;
        margin-top: -$border;
        $br: $c_dark;

        li {
            border: $border solid $br;
            border-bottom: none;
            width: 32px;
            height: 50px;

            i {
                font-size: 20px;
                margin-top: 16px;
            }

            &::after {
                border-bottom: $border solid $br;
                border-left: $border solid $br;
                bottom: -12px;
                left: 3.3px;
                width: 100% * 0.709;
                height: 31px * 0.709;
            }
        }
    }
}

#frontpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 92vh;
    width: 92%;
    max-height: 52.5vw;
    margin: 4vh $xmarg;
    font-family: 'Josefin Sans', sans-serif;

    &::before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        border: $border solid $c_dark;
    }

    .attributes {
        list-style: none;
        display: flex;
        flex-direction: row;
        position: absolute;
        padding: 0;
        font-size: 1.2rem;
        @media(min-width:1400px) {
            font-size: 1.5rem;
        }
    }

    .attributes {
        bottom: 0;
        right: $border;
        bottom: $border;
        margin: 1rem 0.84rem;

        li {
            margin: 0 0.5rem;

            &::before {
                content: '#';
                color: $c_orange;
                padding-right: 4px;
                transition: color 0.2s;
            }

            &:hover::before {
                color: $c_green;
            }
        }
    }

    .lines {
        position: absolute;
        transform: rotate(-30deg);
        width: 141vw;
        height: 5.5vw;
        left: -27.1vw;
        animation: clip-fade-in 2.1s;

        .line {
            margin: 4vw * (1 / 5);
            width: 141%;
            height: 0.3vw;
        }

        .l0 {
            background: $c_gold;
        }

        .l1 {
            background: $c_orange;
        }

        .l2 {
            background: $c_red;
        }

        .l3 {
            background: $c_purple;
        }

        .l4 {
            background: $c_blue;
        }
    }

    .center {
        text-align: center;
        padding-bottom: 1rem;
    }

    .title {
        color: $c_green;
        background-color: $c_gray;
        // red: #e54966
        //font-family: 'ZCOOL KuaiLe', cursive;
        font-weight: 300;
        font-size: 6vw;
        margin-bottom: 0.8rem;
        padding: 2.4vw;
        position: relative;
    }
}

#about {
    padding: 0 $xmarg;
    margin-bottom: 4rem;

    .description {
        overflow: hidden;
        font-size: 1.2rem;
        padding: 0 19%;
        max-width: 52rem;
        margin: 0 auto;
        position: relative;
        color: $c_txt;
        filter: drop-shadow(0 1px 6px rgba(0, 0, 0, .5));

        .background {
            position: absolute;
            @include absolute-fill(14%);
            top: -90%;
            bottom: -90%;
            background-color: $c_dark;
            z-index: -2;
            transform: rotate(12deg);
            border: 4px solid $c_red;

            &::after,
            &::before {
                content: '';
                position: absolute;
                @include absolute-fill(-15px);
                border: 6px solid $c_orange;
                border-right-color: $c_purple;
                z-index: -3;
            }

            &::after {
                @include absolute-fill(-28px);
                border: 8px solid $c_gold;
                border-right-color: $c_blue;
            }
        }
    }
}

#webdev {
    display: flex;
    $gray: $c_ltgray;
    $dkgray: darken($gray, 6%);

    .left {
        width: 28%;
        flex-shrink: 0;
        margin: 1rem 0 1rem $xmarg;
        position: relative;
        z-index: 2;
        font-size: 0.8rem;
        overflow: hidden;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            height: 2rem;
            background: linear-gradient(to top, rgba(red($c_gray), green($c_gray), blue($c_gray), 0) 0%, $c_gray 100%);
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            z-index: 2;
            right: 0;
            bottom: 0;
            height: 2rem;
            background: linear-gradient(to bottom, rgba(red($c_gray), green($c_gray), blue($c_gray), 0) 0%, $c_gray 100%);
        }

        .codeWrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        pre {
            padding-top: 0;
            animation: roll-vertical 80s linear infinite;
            overflow-x: hidden;

            &::after {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                bottom: 0;
                width: 2rem;
                background: linear-gradient(to right, rgba(red($c_gray), green($c_gray), blue($c_gray), 0) 0%, $c_gray 80%, $c_gray 100%);
            }
        }
    }

    .right {
        flex-shrink: 10;
        background-color: $gray;
        margin: 1rem $xmarg 1rem 0;
        box-shadow: 0 1px 6px #000000;
        border-radius: 0.1rem;
        overflow: hidden;

        .wrapper {
            border-radius: 0.2rem;
            $margin: 1rem;
            margin: $margin;
            min-height: calc(100% - #{$margin * 2});
            border: 2px solid $dkgray;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .title {
            padding: 2rem 0 0;
            margin: 0 2rem;
        }

        .description {
            margin: 0 auto;
            max-width: 42rem;
            text-align: center;
            background-color: $dkgray;
            font-size: 1.2rem;
            padding: 3px;
            border-radius: 0.1rem;
            border: 1rem solid $c_ltgray;

            .inner {
                padding: 1rem;
                border: 2px solid $gray;
                border-radius: 0.1rem;
            }
        }

        .showcase {
            $padx: 0.3rem;
            background-color: darken($gray, 6%);
            position: relative;
            padding: 3px 0;

            .slidebar {
                margin-top: 0.3rem;
                display: flex;
                flex-direction: row;
                justify-content: center;

                .button {
                    width: 0.5rem;
                    height: 0.5rem;
                    border: 0.2rem solid $gray;
                    background-color: $c_green;
                    margin: 0 0.1rem;
                    border-radius: 50%;
                    transition: 0.1s all;

                    &.selected {
                        border-color: $c_green;
                        background-color: $gray;
                    }

                    &:hover {
                        background-color: $c_green;
                        border-color: $c_green;
                        cursor: pointer;
                    }
                }
            }

            .gridview {
                display: flex;
                flex-wrap: wrap;
                padding: 0 1rem;
                position: relative;
                border-top: 2px solid $c_ltgray;
                border-bottom: 2px solid $c_ltgray;

                .website {
                    width: 30%;
                    margin: 1.5%;
                    position: relative;

                    img {
                        width: 100%;
                        transition: 0.2s all;
                        display: relative;
                        border-radius: 4px;
                        box-shadow: 0 1px 3px rgba(0,0,0,.4);

                        &::before {
                            content: '';
                            position: absolute;
                            background-color: $c_gray;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }

                    .name {
                        font-family: 'Josefin Sans', sans-serif;
                        text-align: center;
                        font-size: 1.2rem;
                        padding: 0.1rem 0.4rem;
                    }

                    .role {
                        opacity: 0;
                        color: #ffffff;
                        position: absolute;
                        top: 50%;
                        left: 1rem;
                        right: 1rem;
                        text-align: center;
                        transition: 0.2s all;
                    }

                    &:hover {
                        cursor: pointer;

                        img {
                            filter: brightness(60%) saturate(30%);
                            box-shadow: 0 0 0 3px #ddccff;
                        }

                        .role {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
