
$c_bg: #21252B;
$c_txt: #fcfdfe;
$c_green: #55ed85;
$c_lightgreen: #9ee2c3;
$c_gray: #282a36;
$c_gold: #ddc239;
$c_red: #ea277c;
$c_orange: #ef941c;
$c_blue: #4c6aef;
$c_purple: #b333dd;
$c_atombg: #282C34;
$c_dark: #181c21;
$rainbow: ($c_gold, $c_orange, $c_red, $c_purple, $c_blue);

//background-color: $c_atombg;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Varela');
// font-family: 'Josefin Sans', sans-serif;

@mixin background-color-alpha($color, $alpha) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@keyframes roll-vertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $c_gray;
    color: $c_txt;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: $c_gold;

    &:hover {
        color: $c_green;
    }
}

.page:not(#frontpage) {
    min-height: 100vh;
    width: 100%;
}

#frontpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    min-height: 92vh;
    width: 92%;
    margin: 4vh 4%;
    font-family: 'Josefin Sans', sans-serif;

    $border: .24vw;

    &::before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        border: $border solid $c_dark;
    }

    .attributes, .ribbons {
        list-style: none;
        display: flex;
        flex-direction: row;
        position: absolute;
        padding: 0;
        font-size: 1.2rem;

        @media(min-width:1400px) {
            font-size: 1.5rem;
        }
    }

    .ribbons {
        top: $border;
        left: $border;
        margin: 0;
        padding: 0;
        margin-left: 3vw;
        margin-top: -$border;
        $bg: transparent;

        li {
            $br: $c_dark;

            background-color: $bg;
            width: 3.2vw;
            height: 5vw;
            margin: 0 1rem;
            position: relative;
            border: $border solid $br;
            border-radius: .2rem;
            border-bottom: none;
            transition: .1s border-color;

            i {
                font-size: 1.6vw;
                width: 100%;
                text-align: center;
                margin-top: 2vw;
            }

            // &.l0 { color: $c_gold; }
            // &.l1 { color: $c_orange; }
            // &.l2 { color: $c_red; }

            @for $i from 0 through 4 {
                &.l#{$i} {
                    $c: nth($rainbow, $i + 1);
                    color: $c;
                    &:hover {
                        border-color: $c;
                        &::after {
                            border-color: $c;
                        }
                    }
                }
            }

            &::after {
                content: '';
                position: absolute;
                background-color: $bg;
                transition: .1s border-color;
                width: 100% * 0.709;
                height: 3.2vw * 0.709;
                bottom: -1.26vw;
                left: 0.37vw;
                transform: rotate(-45deg);
                border-bottom: $border solid $br;
                border-left: $border solid $br;
                box-shadow: -2px 2px 2px rgba(0,0,0,.18);
                border-radius: .1rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .attributes {
        bottom: 0;
        right: $border;
        bottom: $border;
        margin: .9rem;

        li {
            margin: 0 .5rem;
            color: $c_gold;

            &::before {
                content: '#';
                color: $c_orange;
                margin-right: 2px;
            }

            &:hover {
                color: $c_green;
                text-shadow: 0 0 4px $c_blue;
                cursor: pointer;
            }
        }
    }

    .lines {
        position: absolute;
        transform: rotate(-30deg);
        width: 141vw;
        height: 4vw;
        left: -27.1vw;

        .line {
            margin: 4vw * (1 / 5);
            width: 141%;
            border-top: .3vw solid;
        }

        .l0 { border-color: $c_gold; }
        .l1 { border-color: $c_orange; }
        .l2 { border-color: $c_red; }
        .l3 { border-color: $c_purple; }
        .l4 { border-color: $c_blue; }
    }

    .center {
        text-align: center;
        padding-bottom: 1rem;
    }

    .title {
        color: $c_green;
        background-color: $c_gray;
        // red: #e54966
        //font-family: 'ZCOOL KuaiLe', cursive;
        font-weight: 300;
        font-size: 5rem;
        margin-bottom: .8rem;
        padding: 2.4vw;
        position: relative;
    }
}

@keyframes slide-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#webdev {
    display: flex;
    $gray: #56576a;

    $dkgray: darken($gray, 6%);

    .left {
        width: 28%;
        flex-shrink: 0;
        margin: 1rem 0;

        position: relative;
        z-index: 2;

        font-size: .8rem;
        overflow: hidden;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            height: 2rem;
            background: linear-gradient(to top,
                rgba(red($c_gray), green($c_gray), blue($c_gray), 0) 0%,
                $c_gray 100%
            );
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            z-index: 2;
            right: 0;
            bottom: 0;
            height: 2rem;
            background: linear-gradient(to bottom,
                rgba(red($c_gray), green($c_gray), blue($c_gray), 0) 0%,
                $c_gray 100%
            );
        }

        .codeWrapper {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }

        pre {
            padding-top: 0;
            animation: roll-vertical 80s linear infinite;
            overflow-x: hidden;

            &::after {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                bottom: 0;
                width: 2rem;
                background: linear-gradient(to right,
                    rgba(red($c_gray), green($c_gray), blue($c_gray), 0) 0%,
                    $c_gray 80%,
                    $c_gray 100%
                );
            }
        }
    }

    .right {
        flex-shrink: 10;
        background-color: $gray;
        margin: 1rem;
        margin-left: 0;
        box-shadow: 0 1px 6px #000000;
        border-radius: .1rem;
        overflow: hidden;

        .wrapper {
            border-radius: .2rem;
            $margin: 1rem;
            margin: $margin;
            min-height: calc(100% - #{$margin * 2});
            border: 2px solid $dkgray;
            color: desaturate(darken($c_lightgreen, 14%), 8%);
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3rem;
            margin-top: 2.6rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .description {
            margin: 2rem auto;
            max-width: 42rem;
            text-align: center;
            background-color: $dkgray;
            font-size: 1.1rem;
            padding: 3px;
            border-radius: .1rem;

            .inner {
                padding: 1rem;
                border: 2px solid $gray;
                border-radius: .1rem;
            }
        }

        .showcase {
            $padx: .3rem;

            background-color: darken($gray, 6%);
            position: relative;
            padding: .7rem $padx;

            .slidebar {
                margin-top: .3rem;
                display: flex;
                flex-direction: row;
                justify-content: center;

                .button {
                    width: .5rem;
                    height: .5rem;
                    border: .2rem solid $gray;
                    background-color: $c_green;
                    margin: 0 .1rem;
                    border-radius: 50%;
                    transition: .1s all;

                    &.selected {
                        border-color: $c_green;
                        background-color: $gray;
                    }

                    &:hover {
                        background-color: $c_green;
                        border-color: $c_green;
                        cursor: pointer;
                    }
                }
            }

            .gridview {
                display: flex;
                flex-wrap: wrap;
                margin: 0 1rem;
                position: relative;

                .website {
                    width: 30%;
                    margin: 1.5%;
                    position: relative;

                    img {
                        width: 100%;
                        transition: .2s all;
                        display: relative;
                        border-radius: 4px;
                        box-shadow: 0 1px 3px rgba(0,0,0,.4);

                        &::before {
                            content: '';
                            position: absolute;
                            background-color: $c_gray;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }

                    .name {
                        font-family: 'Josefin Sans', sans-serif;
                        text-align: center;
                        font-size: 1.2rem;
                        padding: .1rem .4rem;
                    }

                    .role {
                        opacity: 0;
                        color: #ffffff;
                        position: absolute;
                        top: 50%;
                        left: 1rem;
                        right: 1rem;
                        text-align: center;
                        transition: .2s all;
                    }

                    &:hover {
                        cursor: pointer;
                        img {
                            filter: brightness(60%) saturate(30%);
                            box-shadow: 0 0 0px 3px #ddccff;
                        }

                        .role {
                            opacity: 1;
                        }
                    }
                }
            }

            // &::before, &::after {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     bottom:0;
            //     width: .7rem;
            //     z-index: 3;
            // }
            //
            // &::before {
            //     left: $padx;
            //     background: linear-gradient(to right, $gray, rgba(255, 255, 255, 0));
            // }
            //
            // &::after {
            //     right: $padx;
            //     background: linear-gradient(to left, $gray, rgba(255, 255, 255, 0));
            // }

        }
    }
}
